:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-size: 1vw;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

section, footer {
  scroll-snap-align: start;
}

*::-webkit-scrollbar {
  width: 0;
}

#side-nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(205,205,205,0.75) 50%, rgba(255,255,255,0.5) 100%);
  z-index: 2;
}

#side-nav > a {
  text-decoration: none;
}

#side-nav > a > span {
  padding: 10px 0px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: serif  ;
  color: rgb(47, 47, 47);
  display: block;
  transition: all 0.4s ease-out;
}

#side-nav > a > span:hover {
  color: rgb(239, 64, 64);
  transform: scale(1.05);
}

#welcome {
  width: 100vw;
  height: 100vh;
  background: url("images/welcome/welcome.jpg");
  background-size: cover;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  position: absolute;
  left: 7%;
  bottom: 12%;
}

.welcome-text>h3 {
  font-size: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.welcome-text>h1 {
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-text>h2 {
  font-size: 70px;
  letter-spacing: 9px;
  margin: 15px 0 0;
}

#greetings {
  width: 100vw;
  height: 100vh;
}

#slides {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#slides::-webkit-scrollbar {
  width: 0px;
}

.slide {
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous-slide,
.next-slide {
  border: solid white;
  border-width: 0 5px 5px 0;
  padding: 13px;
  transition: all 0.65s ease;
}

.previous-slide {
  margin-left: 37.5px;
  transform: translateY(-50%) rotate(135deg);
}

.next-slide {
  margin-right: 37.5px;
  transform: translateY(-50%) rotate(-45deg);
}

.previous-slide:hover,
.next-slide:hover {
  scale: 1.25;
}

.greeting-box {
  margin-left: auto;
  margin-right: 8%;
  display: flex;
  color: white;
}

.chinese {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  letter-spacing: min(1rem, 20px);
  font-size: 60px;
  margin: 0px 5px;
}

.pinyin {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  margin: 0px 10px 20px;
  padding-top: 0px;
  font-family: 'Optima', sans-serif;
  font-size: 17px;
}

.translation {
  max-width: 200px;
  margin-left: 30px;
  margin-top: 20%;
  font-size: 35px;
  font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

#nav-dots {
  margin: 0px;
  text-align: center;
  position: relative;
  bottom: 75px;
}

.dot {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0 22.5px;
}

.dot:hover {
  box-shadow: 0px 0px 7px 2px #FFFFFF;
  transition: all 0.25s ease;
}

#activities {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-block: 30px;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f063;
  border-radius: 10px;
  transition: all 0.4s ease-out;
  flex-basis: 275px;
  margin-inline: 25px;
  margin-block: 25px;
}

.activity:hover {
  transform: scale(1.05);
}

.activity>img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.activity>p {
  text-align: justify;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 15px;
  font-family: cursive;
  color: black;
}

.activity>a {
  text-decoration: none;
  margin-block: auto 22.5px;
}

.activity>a>button {
  width: 125px;
  height: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: bold;
  color: rgb(36, 152, 30);
  border-radius: 5px;
  border-color: rgba(204, 254, 152, 1);
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

.activity>a>button:hover {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgb(186, 249, 118) 0%, rgb(216, 252, 159) 92.4%);
  cursor: pointer;
}

.activity>a>button:active {
  color: rgb(35, 144, 30);
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgb(169, 255, 77) 0%, rgb(201, 250, 121)92.4%);
}

#stories {
  background-color: #A80F0F;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.story {
  flex-basis: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  background-color: #FFE681;
  border-radius: 50px;
  transition: all 0.4s ease-out;
}

.story:hover {
  transform: scale(1.05);
}

.story-image {
  width: 75%;
}

#story-image2 {
  position: relative;
  top: 17.5px;
}

.story>p {
  font-size: 35px;
  text-shadow: 2px 2px 3px white;
  text-align: center;
  font-family: cursive;
  font-size: 28px;
  margin: 0px 20px;
  position: relative;
  bottom: 32.5px;
}

.story>a {
  margin-block: auto 40px;
}

.story>a>button {
  background-color: white;
  border-radius: 10px;
  border-color: rgb(179, 178, 178);
  font-size: 15px;
  font-weight: bold;
  width: 140px;
  height: 40px;
}

.story>a>button:hover {
  color: rgb(175, 80, 80);
  cursor: pointer;
}

.story>a>button:active {
  background-color: #d57b7b;
  color: black
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  width: 60%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color:#A80F0F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.overlay>.popup>.content>p{
  text-align: justify;
  font-size: large;
}


#ending {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url("images/ending/ending.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.ending-text {
  display: flex;
  width: 85%;
  margin-top: 50px;
}

.ending-text-chinese {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ending-text-chinese>h1 {
  font-size: 130px;
  margin: 0px;
}

.tiger-link {
  display: block;
  text-decoration: none;
  color: black;
  transition: transform 0.75s ease, color 1.25s ease;
}

.tiger-link:hover {
  transform: scale(1.2);
  color: #f35151;
}

.ending-text-chinese>h2 {
  font-size: 45px;
  margin: 15px 0px 0px;
}

.ending-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.ending-text-container>p {
  font-size: 16.5px;
  font-family: cursive;
  line-height: 30px;
  margin: 20px;
  flex-wrap: wrap;
  flex-basis: 325px;
}

.ending-text-container>p>span {
  font-weight: bold;
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:dimgray;
}

#made-by {
  color: whitesmoke;
}

#github {
  margin-inline: 75px;
  font-weight: bolder;
  font-family: cursive;
}

footer > span > a {
  text-decoration: none;
  color: whitesmoke;
}

#slide1 {
  background: url("images/greetings/top down 3.jpg");
  background-size: cover;
}

#slide2 {
  background: url("images/greetings/top down 4.jpg");
  background-size: cover;
}

#slide3 {
  background: url("images/greetings/top down 10.jpg");
  background-size: cover;
}

#slide4 {
  background: url("images/greetings/top down 8.jpg");
  background-size: cover;
}

#slide5 {
  background: url("images/greetings/top down 6.jpg");
  background-size: cover;
}