:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

*::-webkit-scrollbar {
  width: 0;
}

.welcome {
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
  background: url("images/welcome/welcome.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-left: 9%;
  margin-bottom: 12%;
}

.welcome-text>h3 {
  font-size: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.welcome-text>h1 {
  font-size: 49px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-text>h2 {
  font-size: 75px;
  letter-spacing: 9px;
  margin: 15px 0 0;
}

.greetings {
  width: 100vw;
  height: 100vh;
  margin: 100px 0;
}

#slides {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous-slide,
.next-slide {
  border: solid white;
  border-width: 0 5px 5px 0;
  padding: 13px;
  transition: all 0.65s ease;
}

.previous-slide {
  margin-left: 37.5px;
  transform: translateY(-50%) rotate(135deg);
}

.next-slide {
  margin-right: 37.5px;
  transform: translateY(-50%) rotate(-45deg);
}

.previous-slide:hover,
.next-slide:hover {
  scale: 1.25;
}

.greeting-box {
  margin-left: auto;
  margin-right: 8%;
  display: flex;
  color: white;
}

.chinese {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  letter-spacing: 20px;
  font-size: 65px;
  margin: 0px 5px;
}

.pinyin {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  margin: 0px 10px 20px;
  padding-top: 0px;
  font-family: 'Optima', sans-serif;
}

.translation {
  max-width: 200px;
  margin-left: 30px;
  margin-top: 20%;
  font-size: 35px;
  font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

#nav-dots {
  margin: 0px;
  text-align: center;
  position: relative;
  bottom: 75px;
}

.dot {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0 22.5px;
}

.dot:hover {
  box-shadow: 0px 0px 7px 2px #FFFFFF;
  transition: all 0.25s ease;
}

.activities {
  width: 100vw;
  height: 100vh;
  margin: 100px 0;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.activity {
  width: 20%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f063;
  border-radius: 10px;
  transition: all 0.4s ease-out;
}

.activity:hover {
  transform: scale(1.05);
}

.activity>img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.activity>p {
  text-align: justify;
  margin-top: 30px;
  padding: 0 20px;
  font-size: 17.5px;
  font-family: Baskerville, serif;
  color: black;
}

.activity>a {
  text-decoration: none;
  color: black;
  margin-top: auto;
  margin-bottom: 12.5px;
}

.activity>a>button {
  width: 125px;
  height: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: bold;
  color: rgb(36, 152, 30);
  border-radius: 5px;
  border-color: rgba(204, 254, 152, 1);
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

.activity>a>button:hover {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgb(186, 249, 118) 0%, rgb(216, 252, 159) 92.4%);
  cursor: pointer;
}

.activity>a>button:active {
  color: rgb(35, 144, 30);
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgb(169, 255, 77) 0%, rgb(201, 250, 121)92.4%);
}

/*Yan */
.storysection{
  background-color:#A80F0F;
  background-image: url("");
  width: 100vw;
  height: 100vh;
  margin: 100px 0;
}

.storycontainer{
  display: flex;
  justify-content: space-between;
  /*
  justify-content: space-around;
  */
}

.storywindow{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #FFE681;
  padding: 70px 20px 80px 20px;
  /*
  padding:150px 100px 150px 100px;
  */
  margin: 60px 20px 100px 40px;
  border-radius: 50px;
  transition: all 0.4s ease-out;
}

.storywindow:hover{
  transform: scale(1.05);
}

.storywindow>img{
  width: 250px;
  height:auto;
  align-items: center;
}

.storywindow>a{
  font-style: italic;
  font-display: red;
}

.storywindow>p{
  color:black;
  font-size: 30px;
  writing-mode: horizontal-tb;
  text-shadow: 2px 2px 3px white;
  text-align: center;
  font-family:cursive;
  font-size: 28px;
}

.storywindow>a>button{
  background-color:white;
  border-radius: 10px;
  border-color:black;
  size: 40px;
}

.storywindow>a>button:hover{
  color:brown
}

.storywindow>a>button:active{
  background-color: #A80F0F;
  color:black
}


a{
  font-size: large;
  text-align: justify;
}

/*Yan*/
.ending {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  background: url("images/ending/ending.jpg");
  background-size: cover;
  display: flex;
}

.ending-text {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 9%;
  width: 87.5%;
}

.ending-text-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 75px;
}

.ending-text-container1>h1 {
  font-size: 130px;
  margin: -15px 0 0;
}

.tiger-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: transform 0.75s ease, color 1.25s ease;
}

.tiger-link:hover {
  transform: scale(1.2);
  color: #f35151;
}

.ending-text-container1>h2 {
  font-size: 50px;
  margin: 15px 0 0;
}

.ending-text-container2 {
  display: flex;
  margin-right: 75px;
}

.ending-text-container2>p {
  margin: 20px 40px 0px;
  width: 25%;
  font-size: 18px;
  font-family: serif;
  text-align: justify;
}

#slide1 {
  background: url("images/greetings/top down 3.jpg");
  background-size: cover;
}

#slide2 {
  background: url("images/greetings/top down 4.jpg");
  background-size: cover;
}

#slide3 {
  background: url("images/greetings/top down 10.jpg");
  background-size: cover;
}

#slide4 {
  background: url("images/greetings/top down 8.jpg");
  background-size: cover;
}

#slide5 {
  background: url("images/greetings/top down 6.jpg");
  background-size: cover;
}