/* figure out animation later on */

:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}


*::-webkit-scrollbar {
  width: 0;
}


.welcome,
.ending {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  margin-bottom: 100px;
  background: url("images/welcome.jpg");
  background-size: cover;
}

.welcome-text,
.ending-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.greetings {
  width: 100vw;
  height: 100vh;
  margin: 100px 0;
}

#slides {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
}

.arrow {
  margin: auto 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.previous-slide,
.next-slide {
  display: inline-block;
  border: solid white;
  border-width: 0 5px 5px 0;
  padding: 13px;
}

.previous-slide {
  position: relative;
  left: 30px;
  transform: translateY(-50%) rotate(135deg);
}

.next-slide {
  position: relative;
  right: 30px;
  transform: translateY(-50%) rotate(-45deg);
}

.previous-slide:hover,
.next-slide:hover {
  padding: 17.5px;
  transition: all 0.5s ease;
}

.greeting-box {
  display: none;
}

#nav-dots {
  margin: 0px;
  text-align: center;
  position: relative;
  bottom: 75px;
}

.nav-dot {
  display: inline;
}

.dot {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  margin: 0 22.5px;
}

.dot:hover {
  box-shadow: 0px 0px 7px 2px #FFFFFF;
  transition: all 0.25s ease;
}

.ending {
  margin-top: 100px;
  background: url("images/ending.jpg");
  background-size: cover;
}

#slide1 {
  background: url("images/top down/top down 3.jpg");
  background-size: cover;
}

#slide2 {
  background: url("images/top down/top down 4.jpg");
  background-size: cover;
}

#slide3 {
  background: url("images/top down/top down 10.jpg");
  background-size: cover;
}

#slide4 {
  background: url("images/top down/top down 8.jpg");
  background-size: cover;
}

#slide5 {
  background: url("images/top down/top down 6.jpg");
  background-size: cover;
}